body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cotainer{
    background-color: gray;
    padding: 20px;
    margin-left: 40px;
}

.my-div{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    cursor: move;
    border: 1px solid black;
}
