body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-div {
  background-color: #bf0000;
  padding: 50px;
  margin-top: 12rem;
  margin-left: 40px;
}

.draggable {
  padding: 30px;
  background-color: rgb(246, 225, 0);
  border: 1px solid black;
  cursor: move;
}

.draggable.dragging {
  opacity: .5;
}